@page
@model Server.Pages.EstablishmentPages.DeleteModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles ="Admin")]
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Establishment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment.EstablishmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Establishment.EstablishmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment.EstablishmentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Establishment.EstablishmentAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment.EstablishmentDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Establishment.EstablishmentDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Establishment.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment.EstablishmentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Establishment.EstablishmentType.Type)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Establishment.EstablishmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
