@page
@model Server.Pages.PaymentPages.DetailsModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentService)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentService.PaymentServiceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Payment.PaymentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
