@page
@model Server.Pages.PaymentPages.IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="overflow:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].PaymentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].PaymentStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].PaymentService)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Payment) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentService.PaymentServiceName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.PaymentId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.PaymentId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.PaymentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
